.bar{
    background-color: black;
    min-height: 4rem;
    //position:fixed;
    width:100%;
    //white-space:nowrap;
    //z-index:20;
    padding-left:4rem;
    padding-top:1rem;
    
    .logo{
        min-width: 8rem;
        max-height: 2rem;
        display:inline-block;
    }
}