.cover-page{
    background-color:black;
    background-image:url("../img/portada.png");
    background-size:cover;
    height: 344px;
    width: 100%; 
    

    .text{
        display:flex;
        display:inline-block;
        margin-top:5rem;
        margin-bottom: 2rem;
        margin-left:1rem;
        text-align:start;
        color: #FFFFFF;
        width: 100%;
        max-width:50%;
        .title{
            font-size: 2rem;
            margin-top: 6rem;
            margin-bottom: 0rem;
            font-weight: 700;
        }
        .sub-title{
            display:flex;
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .buttons{    
            .play{
                border:none;
                border-radius: 9px;
                text-align:center;
                font-weight: 700;
                font-size:1rem;
                color: #FFFFFF;
                background: #ED0A1D;
                border-radius: 3px;
                margin-right:0.3rem;
                width:131px;
                border:none;
                padding:1rem;
            }
        }
    }
}
    