.bar{
    display:flex;
    align-items: center;
    min-height: 4rem;
    background: black;
    position:fixed;
    width:100%;
    white-space:nowrap;
    z-index:20; 
    .logo{
        margin-left:4rem; 
        margin-right: 2rem;
        display:inline-block; 
    } 
    .bar-words{
        font-size: 1.2rem;
        .words{
            display:flex;
            .word{
                display:inline-block;
                margin-right:1rem;
                font-family: 'Open Sans', sans-serif;
                font-weight:bold;
                color: #FFFFFF;
                text-decoration:none;
            }
        }
    }
}
