.bar{
    display:flex;
    min-height: 4rem;
    background: rgba(0, 0, 0, 0.801218);
    position:fixed;
    width:100%;
    white-space:nowrap;
    z-index:20;
    
    .image{
    
    background-image:url("file:///C:/Users/magali/Downloads/Bitmap.png");
    min-width: 8rem;
    max-height: 2rem;
    background-size: cover;
    margin-right:2rem;
    margin-top: 1rem;
    margin-left:4rem;
         .logo{
            display:inline-block;
            padding: 1rem;
            text-decoration:none;

            &:hover{
                background-color:white;
            }
         }
    }
    .bar-words{
        font-size: 1.2rem;

        ul{
            display:flex;

            .word{
                display:inline-block;
                margin-right:1rem;
                margin-top: 1.4rem;
                font-family: 'Open Sans', sans-serif;
                font-weight:bold;
                color: #FFFFFF;
                text-decoration:none;

                &:hover{
                    background-color: rgba(0, 0, 0, 0.2);
                }
                
            }

        }

    }



}
