
.cover-page{
    background-image:url("file://magui/Users/magali/tp-courseit/img/breakingbad04.png");
    background-size:cover;
    height: 53rem;
    width: 100%;
    
    
    .page{
        text-decoration: none;
        margin-left:4rem;
        display:flex;
        flex-direction: column;

        .text{
            display:flex;
            display:inline-block;
            margin-top:3rem;
            margin-bottom: 2rem;
            text-align:start;
            color: #FFFFFF;
            max-width:50%;

                .im{
                    width: 21.56rem;
                    height: 21.56rem;
                }
                .porcentage{
                    display:inline-block;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1rem;
                    font-family: Open Sans;
                    margin-bottom:1rem;
                .coincidence{
                    font-weight: bold;
                    color: #009C04;
                }
                .year{
                    margin-left:0.5rem;

                }
                .adult{
                    display:inline-block;
                    padding:0.3rem;
                    border: 1px solid white;
                    border-radius: 8px;
                    
                }
                .season{
                    font-weight: bold;
                    color: #FFFFFF;
                }

                }

                .buttons{
                    display:inline-block;  
                    display:flex;
                    margin-bottom:2rem;
                    .play{
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size:1.3rem;
                        color: #FFFFFF;
                        background: #ED0A1D;
                        border-radius: 9px;
                        margin-right:1rem;
                        width:10rem;
        
                        border:none;
                    }
                    .list{
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size:1.3rem;
                        color: #FFFFFF;
                        text-decoration:none;
                        background: rgba(157, 151, 151, 0.541521);
                        border-radius: 9px;
                        width:10rem;
                        text-align:center;
                        
                    }
                }

                .description{
                    font-weight: normal;
                    line-height: 25px;

                }

                .hand{
                    width: 59px;
                    height: 59px;
                    border: 2px solid #D8D8D8;
                    background: #D8D8D8;
                    
                }

        }

        .box{
           
            .wrap{
                
                .series{
                    display:inline-block;
                    font-family: 'Open Sans', sans-serif;
                    font-weight:bold;
                    font-size: 1.5rem;
                    margin-bottom:1rem;
            
                }
                .selector{
                    display:flex;
                    overflow-x:auto;
                    scroll-snap-type: x mandatory;
                    margin-bottom:3.5rem;
        
                    &::-webkit-scrollbar{ 
                    width: 0; 
                    display:none;}
                    
                    .img{
                        scroll-snap-align:start;
                        margin-right:1rem;
                        
                    }
                }
           
             
            }
        }
              
    }

        
    

}