@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bar {
  display: flex;
  align-items: center;
  min-height: 4rem;
  background-color: black;
  position: fixed;
  width: 100%;
  white-space: nowrap;
  z-index: 20;
  padding-left: 4rem;
}
.bar .button-burger {
  display: none;
  background-color: black;
  margin-right: 1rem;
  border: none;
  padding: 0;
}
.bar .button-burger .fa-bars {
  color: white;
}
@media (max-width: 600px) {
  .bar .button-burger {
    font-size: 3rem;
    text-align: center;
    align-items: center;
    display: inline-flex;
  }
}
@media (max-width: 600px) {
  .bar {
    display: inline-flex;
    padding-left: 1rem;
  }
}
.bar .logo {
  margin-right: 2rem;
  display: inline-block;
}
.bar .bar-words .words {
  display: flex;
  font-weight: 400;
  margin-bottom: 0.5rem;
  background-color: black;
}
.bar .bar-words .words .word {
  margin-right: 1rem;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 600px) {
  .bar .bar-words {
    display: none;
  }
}
.bar .mobile-nav {
  display: none;
}
.bar .mobile-nav .column {
  position: absolute;
  top: 100%;
  left: 0rem;
  padding-left: 1rem;
  width: 16rem;
  height: 100vh;
  flex-direction: column;
  background-color: black;
}
.bar .mobile-nav .column .link-column {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.bar .mobile-nav .column .link-column .linkcc {
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}
.bar .mobile-nav .column .link-column .linkc {
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}
.bar .mobile-nav.open {
  display: inline-flex;
}

.box .wrap .series {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .box .wrap .series {
    font-size: 18px;
  }
}
.box .wrap .selector {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}
.box .wrap .selector .serie {
  margin-right: 1rem;
}
.box .wrapper .serie {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box .wrapper .sel {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}
.box .wrapper .sel .selec {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.box .wrapper .sel .selec .porcentage {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 15rem;
  height: 0.5rem;
  background-color: gray;
}
.box .wrapper .sel .selec .porcentage .red {
  width: 15rem;
  height: 0.5rem;
  background-color: red;
}

.cover-page {
  background-color: black;
  background-image: url("../img/portada.png");
  background-size: cover;
  height: 53rem;
  width: 100%;
}
.cover-page .page {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
}
.cover-page .page .text {
  display: flex;
  display: inline-block;
  margin-top: 14rem;
  margin-bottom: 2rem;
  text-align: start;
  color: #FFFFFF;
  width: 100%;
  max-width: 50%;
}
.cover-page .page .text .original {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
}
@media (max-width: 600px) {
  .cover-page .page .text .original {
    display: none;
  }
}
.cover-page .page .text .title {
  font-size: 7.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .cover-page .page .text .title {
    font-size: 1.5rem;
    margin-top: -6rem;
    margin-bottom: 0rem;
  }
}
.cover-page .page .text .sub-title-mobile {
  display: none;
}
@media (max-width: 600px) {
  .cover-page .page .text .sub-title-mobile {
    display: flex;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
.cover-page .page .text .buttons {
  display: inline-block;
  display: flex;
  font-weight: 400;
  margin-bottom: 1rem;
}
.cover-page .page .text .buttons .play {
  color: white;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  background: rgba(157, 151, 151, 0.541521);
  border: none;
  border-radius: 9px;
  margin-right: 1rem;
  width: 10rem;
  text-align: center;
}
.cover-page .page .text .buttons .list {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  background: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  padding: 1rem;
  width: 10rem;
  text-align: center;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .cover-page .page .text .buttons .play {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    background: #ED0A1D;
    border-radius: 3px;
    margin-right: 0.3rem;
    width: 131px;
    border: none;
  }
  .cover-page .page .text .buttons .list {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    background: rgba(157, 151, 151, 0.541521);
    border-radius: 3px;
    width: 131px;
    text-align: center;
  }
}
.cover-page .page .text .look {
  display: inline-block;
  margin: 0.5rem 0rem;
}
@media (max-width: 600px) {
  .cover-page .page .text .look {
    display: none;
  }
}
.cover-page .page .text .description {
  font-weight: 400;
  line-height: 25px;
}
@media (max-width: 600px) {
  .cover-page .page .text .description {
    display: none;
  }
}
@media (max-width: 600px) {
  .cover-page .page {
    margin-left: 1rem;
  }
}

@media (max-width: 600px) {
  .cover-page {
    background-size: cover;
    height: 344px;
    width: 100%;
  }
}
*, *:after, *:before {
  box-sizing: border-box;
}

.html {
  scroll-behavior: smooth;
}
.html .body {
  margin: 0rem;
  background-color: black;
  font-family: "Open Sans", sans-serif;
}
.html .body .main {
  color: #FFFFFF;
}

/*# sourceMappingURL=index.css.map */
