.bar{
    display:flex;
    min-height: 4rem;
    background: rgba(0, 0, 0, 0.801218);
    position:fixed;
    width:100%;
    white-space:nowrap;
    z-index:20;
    .hamburguesa{
        display:none;
    }
    .logo{
        min-width: 8rem;
        max-height: 2rem;
        margin-left:4rem; 
        margin-top: 1rem;
        margin-right: 2rem;
        display:inline-block;
        text-decoration:none;
        &:hover{
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
        @media (max-width: 600px) {
            .hamburguesa{
                margin-left: 1rem;
                display:flex;
                width: 35px;
            }
            .logo{
                margin-left: 1.3rem;
            }
        }

    .bar-words{
        font-size: 1.2rem;
        margin-top: 1.4rem;
        .words{
            display:flex; 
            .word{
                margin-right:1rem;
                font-family: 'Open Sans', sans-serif;
                font-weight:bold;
                color: #FFFFFF;
                text-decoration:none;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.2);
                }  
            }
        }
    }
        @media (max-width: 600px) {
            .bar-words{
                display:none;
            }

        }

}



