.bar{
    display:flex;
    align-items: center;
    min-height: 4rem;
    background-color:black;
    position:fixed;
    width:100%;
    white-space:nowrap;
    z-index:20;
    padding-left:4rem;
    .button-burger{
        display: none;
        background-color:black;
        margin-right:1rem;
        border:none;
        padding:0;
        .fa-bars{
            color: white;        
        }
            @media (max-width: 600px){             
            font-size: 3rem;
            text-align: center;
            align-items: center;
            display: inline-flex;
            }
    }
        @media (max-width: 600px){
            display: inline-flex;
            padding-left: 1rem;
        }

    .logo{
        margin-right: 2rem;
        display:inline-block;
    }
    
    .bar-words{
        .words{
            display:flex;
            font-weight: 400;
            margin-bottom: 0.5rem;
            background-color: black;        
            .word{
                margin-right:1rem;
                font-size: 18px;
                font-weight:700;
                color: #FFFFFF;
                text-decoration:none;
            }      
        }
        @media (max-width:600px){
            display:none;
        }
    }
   
    .mobile-nav{
        display:none;
        .column{
            position: absolute;
            top:100%;
            left:0rem;
            padding-left: 1rem;
            width:16rem;
            height:100vh;
            flex-direction: column;
            background-color: black ;
            
            .link-column{
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                .linkcc{
                font-weight:700;
                color: #FFFFFF;
                text-decoration:none;
                
                }
                .linkc{
                font-weight:400;
                color: #FFFFFF;
                text-decoration:none;
                }           
            }         
        }
        &.open{
            display:inline-flex;
        }       
    }
}



