
.cover-page{
    background-color:black;
    background-image:url("../img/portada.png");
    background-size:cover;
    height: 53rem;
    width: 100%;
    .page{
        margin-left:4rem;
        display:flex;
        flex-direction: column;  
        .text{
            display:flex;
            display:inline-block;
            margin-top:14rem;
            margin-bottom: 2rem;
            text-align:start;
            color: #FFFFFF;
            width: 100%;
            max-width:50%;
            .original{
                display:inline-block;
                font-weight:700;
                font-size:1.5rem;
                margin-bottom: 1.3rem;
            }
            @media (max-width: 600px) {
                .original{
                    display:none;
                }        
            }
            .title{
                font-size:7.5rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
                @media (max-width: 600px) {
                    .title{
                        font-size: 1.5rem;
                        margin-top: -6rem;
                        margin-bottom:0rem;
                    }  
                }
            .sub-title-mobile{
                display:none;  
            }
                @media (max-width: 600px) {
                    .sub-title-mobile{
                        display:flex;
                        font-size: 1rem;
                        margin-bottom:1rem;
                    }        
                }
            .buttons{
                display:inline-block;  
                display:flex;
                font-weight: 400;
                margin-bottom: 1rem;
                .play{
                    color:white;
                    font-size: 1.4rem;
                    font-family: 'Open Sans', sans-serif;
                    background: rgba(157, 151, 151, 0.541521);
                    border:none;
                    border-radius: 9px;
                    margin-right:1rem;
                    width:10rem;
                    text-align:center;
                    padding:1rem; 
                }
                .list{
                    text-decoration: none;
                    color:white;
                    font-size: 1.4rem;
                    background: rgba(157, 151, 151, 0.541521);
                    border-radius: 9px;
                    width:10rem;                  
                    text-align:center;
                    padding-top: 1.2rem;
                    white-space: nowrap; 
                }
            }
                @media (max-width: 600px) {
                    .buttons{     
                        .play{
                            font-weight: 700;
                            font-size:1rem;
                            color: #FFFFFF;
                            background: #ED0A1D;
                            border-radius: 3px;
                            margin-right:0.3rem;
                            width:131px;
                            border:none;
                        }
                        .list{
                            font-weight: 700;
                            font-size:1rem;
                            color: #FFFFFF;
                            text-decoration:none;
                            background: rgba(157, 151, 151, 0.541521);
                            border-radius: 3px;
                            width:131px;
                            text-align:center; 
                                 
                        }
                    }
                }
            .look{
                display: inline-block;
                margin: 0.5rem 0rem;
            }
                @media (max-width: 600px) {
                    .look{
                        display:none;
                    }   
                }
            .description{
                font-weight: 400;
                line-height: 25px;
            }
                @media (max-width: 600px) {
                    .description{
                    display:none;
                    }
                }
        }          
    }
    @media (max-width: 600px) {
        .page{
            margin-left:1rem;           
        } 
    }
}
@media (max-width: 600px) {
    .cover-page{   
        background-size:cover;
        height: 344px;
        width: 100%;          
    } 
}  

