.wrapper{
    .serie{
    display:inline-block;
    font-weight:700;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom:1rem;
    }
    @media (max-width:600px){
        .serie{
            font-size: 18px;
        }
    }
    .sel{
        display:flex;  
        overflow-x:auto;
        scrollbar-width: none;                    
        .selec{
            display:flex;
            flex-direction: column;  
            margin-right: 1rem;      
            .porcentage{ 
                margin: 0 auto;
                margin-top: 1rem;
                margin-bottom: 1rem;
                width:15rem;
                height: 0.5rem; 
                background-color: gray;                          
                .red{   
                    width:15rem;
                    height: 0.5rem;   
                    background-color: red;
                }
            }                   
        }
    }      
}