@import"base/reset";
@import"modules/bar";
@import"modules/cover-page";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



*, *:after, *:before{
    box-sizing: border-box;
}

.html{
    scroll-behavior: smooth;
    .body{
        margin:0rem;
        background-color:black;
        .main{
            font-family: 'Open Sans', sans-serif;
            color: #FFFFFF;
        }
    }
}