@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bar {
  display: flex;
  min-height: 4rem;
  background: rgba(0, 0, 0, 0.801218);
  position: fixed;
  width: 100%;
  white-space: nowrap;
  z-index: 20;
}
.bar .image {
  background-image: url("file:///C:/Users/magali/Downloads/Bitmap.png");
  min-width: 8rem;
  max-height: 2rem;
  background-size: cover;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-left: 4rem;
}
.bar .image .logo {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}
.bar .image .logo:hover {
  background-color: white;
}
.bar .bar-words {
  font-size: 1.2rem;
}
.bar .bar-words ul {
  display: flex;
}
.bar .bar-words ul .word {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}
.bar .bar-words ul .word:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.cover-page {
  background-image: url("file://magui/Users/magali/tp-courseit/img/breakingbad04.png");
  background-size: cover;
  height: 53rem;
  width: 100%;
}
.cover-page .page {
  text-decoration: none;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
}
.cover-page .page .im {
  width: 21.56rem;
  height: 21.56rem;
}
.cover-page .page .box .wrap .series {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.cover-page .page .box .wrap .selector {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-bottom: 3.5rem;
}
.cover-page .page .box .wrap .selector::-webkit-scrollbar {
  width: 0;
  display: none;
}
.cover-page .page .box .wrap .selector .img {
  scroll-snap-align: start;
  margin-right: 1rem;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.html {
  scroll-behavior: smooth;
}
.html .body {
  margin: 0rem;
  background-color: black;
}
.html .body .main {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

/*# sourceMappingURL=detalleindex.css.map */
