@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bar {
  display: flex;
  min-height: 4rem;
  background: rgba(0, 0, 0, 0.801218);
  position: fixed;
  width: 100%;
  white-space: nowrap;
  z-index: 20;
}
.bar .logo {
  min-width: 8rem;
  max-height: 2rem;
  margin-left: 4rem;
  margin-top: 1rem;
  margin-right: 2rem;
  display: inline-block;
  text-decoration: none;
}
.bar .logo:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.bar .bar-words {
  font-size: 1.2rem;
}
.bar .bar-words .words {
  display: flex;
}
.bar .bar-words .words .word {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}
.bar .bar-words .words .word:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.cover-page {
  background-image: url("");
  background-size: cover;
  height: 53rem;
  width: 100%;
}
.cover-page .page {
  text-decoration: none;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
}
.cover-page .page .text {
  display: flex;
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: start;
  color: #FFFFFF;
  max-width: 50%;
}
.cover-page .page .text .im {
  width: 21.56rem;
  height: 21.56rem;
}
.cover-page .page .text .statistics {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.cover-page .page .text .statistics .coincidence {
  margin-right: 1rem;
  font-weight: 700;
  color: #009C04;
}
.cover-page .page .text .statistics .year {
  margin-right: 1rem;
  font-weight: 400;
}
.cover-page .page .text .statistics .adult {
  margin-right: 1rem;
  font-weight: 400;
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: 1px solid white;
  border-radius: 8px;
}
.cover-page .page .text .statistics .season {
  font-weight: 700;
  color: #FFFFFF;
}
.cover-page .page .text .buttons {
  display: inline-block;
  display: flex;
  font-weight: 400;
  margin-bottom: 1rem;
}
.cover-page .page .text .buttons .play {
  color: white;
  font-size: 21px;
  background: red;
  border: none;
  border-radius: 9px;
  padding: 1rem;
  margin-right: 1rem;
  width: 10rem;
  text-align: center;
}
.cover-page .page .text .buttons .list {
  text-decoration: none;
  color: white;
  font-size: 21px;
  background: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  padding: 1rem;
  width: 10rem;
  text-align: center;
}
.cover-page .page .text .buttons .hand {
  margin-left: 1rem;
}
.cover-page .page .text .description {
  font-weight: 400;
  line-height: 25px;
}
.cover-page .page .box .wrap .series {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.cover-page .page .box .wrap .selector {
  display: flex;
  overflow-x: auto;
  margin-bottom: 3.5rem;
  scrollbar-width: none;
}
.cover-page .page .box .wrap .selector .serie {
  margin-right: 1rem;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.html {
  scroll-behavior: smooth;
}
.html .body {
  margin: 0rem;
  background-color: black;
}
.html .body .main {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
}

/*# sourceMappingURL=detalleindex.css.map */
